In [1]:
d = {'discount': [0,5,10], 'retail_price': [100, 200,400],'selling_price':[100,195,390],'margin_lift':[90,80,70]}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(data=d)

In [4]:
df

   discount  retail_price  selling_price  margin_lift
0         0           100            100           90
1         5           200            195           80
2        10           400            390           70

In [5]:
import numpy as np

In [ ]:
np.where((df.Event == 'Painting'),'Art',df.Event)

In [10]:
df['margin_lift'] = np.where((df.discount == 0),0,df.margin_lift)

In [11]:
df

   discount  retail_price  selling_price  margin_lift
0         0           100            100            0
1         5           200            195           80
2        10           400            390           70